In [1]:
import pandas as pd

In [52]:
df = pd.read_csv('etl_df', low_memory= False)

In [53]:
df.head()

,budget,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,return,director,genres,production_companies,production_countries,spoken_languages
0,30000000.0,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,7.7,12.451801,JohnLasseter,Animation-Comedy-Family,PixarAnimationStudios,UnitedStatesofAmerica,English
1,65000000.0,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,4.043035,JoeJohnston,Adventure-Fantasy-Family,TriStarPictures-TeitlerFilm-InterscopeCommunic...,UnitedStatesofAmerica,English-Français
2,0.0,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,0.000000,HowardDeutch,Romance-Comedy,WarnerBros.-LancasterGate,UnitedStatesofAmerica,English
3,16000000.0,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,5.090760,ForestWhitaker,Comedy-Drama-Romance,TwentiethCenturyFoxFilmCorporation,UnitedStatesofAmerica,English
4,0.0,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,inf,CharlesShyer,Comedy,SandollarProductions-TouchstonePictures,UnitedStatesofAmerica,English

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45542 entries, 0 to 45541
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45455 non-null  float64
 1   original_language     45444 non-null  object
 2   overview              44514 non-null  object
 3   popularity            45453 non-null  object
 4   release_date          45452 non-null  object
 5   revenue               45455 non-null  float64
 6   runtime               45206 non-null  float64
 7   status                45372 non-null  object
 8   tagline               20425 non-null  object
 9   title                 45452 non-null  object
 10  vote_average          45452 non-null  float64
 11  return                45455 non-null  float64
 12  director              25736 non-null  object
 13  genres                43070 non-null  object
 14  production_companies  33637 non-null  object
 15  production_countries  39232 non-null  object
 16  spoken_languages      41552 non-null  object
dtypes: float64(5), object(12)
memory usage: 5.9+ MB

In [55]:
df.describe()

             budget       revenue       runtime  vote_average   return
count  4.545500e+04  4.545500e+04  45206.000000  45452.000000  45455.0
mean   4.230922e+06  1.121831e+07     94.179821      5.623962      inf
std    1.742869e+07  6.433710e+07     38.331639      1.915585      NaN
min    0.000000e+00  0.000000e+00      0.000000      0.000000      0.0
25%    0.000000e+00  0.000000e+00     85.000000      5.000000      0.0
50%    0.000000e+00  0.000000e+00     95.000000      6.000000      0.0
75%    0.000000e+00  0.000000e+00    107.000000      6.800000      0.0
max    3.800000e+08  2.787965e+09   1256.000000     10.000000      inf

0         Animation-Comedy-Family
1        Adventure-Fantasy-Family
2                  Romance-Comedy
3            Comedy-Drama-Romance
4                          Comedy
                   ...
45537                         NaN
45538                         NaN
45539                         NaN
45540                         NaN
45541                         NaN
Name: genres, Length: 45542, dtype: object