In [122]:
#Importacion de bibliotecas

import pandas as pd

In [123]:
#Importar archivos

movies_df = pd.read_csv("C:/Users/eduen/AppData/Local/Temp/movies_dataset.csv", low_memory= False)

credits_df = pd.read_csv("C:/Users/eduen/AppData/Local/Temp/credits.csv", low_memory= False)

In [124]:
movies_df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [125]:
def Desanidar(dataset, num_columna):
        
        def NombrarColumna(columna):
                        
                        flag = 0
                        for elemento in columna:
                                if type(elemento) == str and flag == 0:
                                        possep = elemento.find(":")
                                        nombre = dataset.columns[num_columna] + ': ' + elemento[:possep]
                                        flag = 1
                        return nombre
        
        def EliminarNombre(dato):
        
                        if type(dato) == str:
                                possep = dato.find(":")
                                dato = dato.replace(dato[:possep + 1], '')

                        return dato

        if dataset[dataset.columns[num_columna]].dtype == object:

                df = dataset[dataset.columns[num_columna]].str.split(pat= ',', n= -1, expand= True)

                reemplazos = ["{", "}", "'", " ", '[', ']']

                for column in df:

                        for elemento in reemplazos:
    
                                df[column] = df[column].str.replace(elemento, "")
        
                        nombre = NombrarColumna(df[column])
                        df[column] = df[column].apply(EliminarNombre)
                        df.rename(columns= {column: nombre}, inplace= True)
        
                return df
        
        else:
                return print("ERROR: No es posible desanidar correctamente, tipo de dato incorrecto en columna ", num_columna)

In [126]:
columnas_desanidar = [1, 3, 12, 13, 17]

for i, elemento in enumerate(columnas_desanidar):

    col = Desanidar(movies_df, (elemento - i))
    movies_df = movies_df.drop(movies_df.columns[elemento - i], axis=1)
    movies_df = pd.concat([movies_df, col], axis= 1)

In [127]:

movies_df.drop('video', axis=1, inplace=True)
movies_df.drop('imdb_id', axis=1, inplace=True)
movies_df.drop('adult', axis=1, inplace=True)
movies_df.drop('original_title', axis=1, inplace=True)
movies_df.drop('poster_path', axis=1, inplace=True)
movies_df.drop('homepage', axis=1, inplace=True)
movies_df['budget'] = pd.to_numeric(movies_df['budget'], errors= 'coerce')
movies_df['budget'] = movies_df['budget'].fillna(0)
movies_df['revenue'] = movies_df['revenue'].fillna(0)
movies_df.dropna(subset=['release_date'], inplace=True)
movies_df['release_date'] = pd.to_datetime(movies_df['release_date'], format= '%Y-%m-%d', errors= 'coerce')
movies_df['return'] = movies_df['revenue']/movies_df['budget']
movies_df['return'] = movies_df['return'].fillna(0)
movies_df.to_csv('movies_df_modificado', index= False)
movies_df

C:\Users\eduen\AppData\Local\Temp\ipykernel_15404\3850589291.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  movies_df['return'] = movies_df['revenue']/movies_df['budget']

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,spoken_languages: name,spoken_languages: iso_639_1,spoken_languages: name,spoken_languages: iso_639_1,spoken_languages: name,spoken_languages: iso_639_1,spoken_languages: name,spoken_languages: iso_639_1,spoken_languages: name,return
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,None,None,None,None,None,None,None,None,None,12.451801
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,...,None,None,None,None,None,None,None,None,None,4.043035
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,...,None,None,None,None,None,None,None,None,None,0.000000
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,...,None,None,None,None,None,None,None,None,None,5.090760
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,...,None,None,None,None,None,None,None,None,None,inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,0.0,30840,en,"Yet another version of the classic epic, with ...",5.683753,1991-05-13,0.0,104.0,Released,NaN,...,None,None,None,None,None,None,None,None,None,0.000000
45462,0.0,111109,tl,An artist struggles to finish his work while a...,0.178241,2011-11-17,0.0,360.0,Released,NaN,...,None,None,None,None,None,None,None,None,None,0.000000
45463,0.0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,A deadly game of wits.,...,None,None,None,None,None,None,None,None,None,0.000000
45464,0.0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,NaN,...,None,None,None,None,None,None,None,None,None,0.000000
45465,0.0,461257,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Released,NaN,...,None,None,None,None,None,None,None,None,None,0.000000

In [128]:
col_des = [1]

for i, elemento in enumerate(col_des):

    col = Desanidar(credits_df, (elemento - i))
    credits_df = credits_df.drop(credits_df.columns[elemento - i], axis=1)
    credits_df = pd.concat([credits_df, col], axis= 1)

In [107]:
print(credits_df.info())
print(movies_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Columns: 5549 entries, cast: cast_id to crew: profile_path
dtypes: object(5549)
memory usage: 1.9+ GB
None
<class 'pandas.core.frame.DataFrame'>
Index: 45379 entries, 0 to 45465
Columns: 176 entries, budget to return
dtypes: datetime64[ns](1), float64(6), object(169)
memory usage: 61.3+ MB
None